	
@font-face
{
	font-family:Helvetica;
	src:url(../../Helvetica___.ttf);
}

#schedule_appointment
{
	margin:0 auto;
	width:800px;
	padding-top:30px;	
}
#schedule_appointment form select
{
	width:180px;
	height:30px;
	border-radius:10px;
	text-align:center;
	font-size:13px;
	font-weight:bold;
}
#schedule_appointment p
{
	font:Helvetica;
	font-size:18px;
	color:#AE0000;
	font-weight:bold;
}
#schedule_appointment li a img
{
	clear:both;

}
#schedule_appointment li
{
	list-style:none;
}
#schedule_appointment span
{
	display:inline-block;
    margin:0 20px;
}
#my_select_button
{
	height:40px;
	width:90px;
	border-radius:10px;
	background:#030;
	color:#FFF;
	font-weight:600;
	
}
#my_own_t
{
	font:FontAwesome;
	font-size:18px;
	color:#2F005E;
	font-weight:bolder;
}

/*#schedule_appointment ul,ul li
{
	margin:0 auto;
  border: 0;
  list-style: none; 
  line-height: 1;
  display:inline;
}
#schedule_appointment ul li img
{
	height:100px;
	width:100px;
	padding-right:10px;
}*/
#head_top
{
	margin:0 auto;
	width:850px;
	padding-top:20px;
	font-weight:bold;
	font-size:20px;
	color:#F00;
	
}
#schedule_appointment ul li:hover,
#schedule_appointment ul li.active {
  background: #276ea1;
  background: -moz-linear-gradient(top, #9B30FF 0%, #660198 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9B30FF), color-stop(100%, #660198));
  background: -webkit-linear-gradient(top, #9B30FF 0%, #660198 100%);
  background: -o-linear-gradient(top, #9B30FF 0%, #660198 100%);
  background: -ms-linear-gradient(top, #9B30FF 0%, #660198 100%);
  background: linear-gradient(to bottom, #9B30FF 0%, #660198 100%);
}

#select_doctor p
{
	font-weight:bold;
	color:#7D0000;
	font-size:16px;	
}
#select_doctor
{
	margin:0 auto;
	width:800px;
	padding-top:40px;
	
}
#my_schedule_result
{
	width:800px;
	margin:0 auto;
}
#my_schedule_result table
{
	border-collapse:collapse;
	}
#my_schedule_result table td
{
		text-align:center;
		padding:3px 10px 3px 10px;
		
	   height:50px;
	   white-space:nowrap;
	   }
#view_schedule
{
	font-size:18px;
	font-weight:bolder;
	color:#7D0000;
	margin:0 auto;
	width:800px;
	padding-top:23px;
}